body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:71px;
  width:610px;
  height:408px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
