body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:480px;
  height:854px;
}
#u4161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:0px;
  width:480px;
  height:854px;
}
#u4162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:392px;
  width:465px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:704px;
  width:100px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:448px;
  width:189px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:448px;
  width:189px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:448px;
  width:189px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:448px;
  width:189px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
