body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:922px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:922px;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:392px;
  width:458px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:857px;
  width:480px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
