body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4098 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:91px;
  width:151px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4099 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:174px;
  width:151px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4100 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:259px;
  width:151px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:794px;
  width:480px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
