body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:624px;
  width:326px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:713px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
