body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:480px;
  height:854px;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:407px;
  width:417px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:407px;
  width:417px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
