body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:480px;
  height:854px;
}
#u4051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:91px;
  width:457px;
  height:184px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:91px;
  width:457px;
  height:572px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:285px;
  width:457px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
