body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:480px;
  height:854px;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:530px;
  width:126px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4013_ann {
  border-width:0px;
  position:absolute;
  left:407px;
  top:526px;
  width:1px;
  height:1px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:530px;
  width:126px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4014_ann {
  border-width:0px;
  position:absolute;
  left:923px;
  top:526px;
  width:1px;
  height:1px;
}
