body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:480px;
  height:854px;
}
#u4055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:795px;
  width:59px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:795px;
  width:59px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:795px;
  width:59px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:795px;
  width:59px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:203px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:274px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:358px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:429px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:503px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:573px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:203px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:274px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:358px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:429px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:503px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:573px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
