body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:480px;
  height:854px;
}
#u4115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:795px;
  width:59px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:795px;
  width:59px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:795px;
  width:59px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:795px;
  width:59px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:203px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:274px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:358px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4123 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:429px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4124 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:503px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4125 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:573px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4126 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:203px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4127 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:274px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4128 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:358px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4129 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:429px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4130 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:503px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:573px;
  width:458px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
