body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:854px;
}
#u4093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:622px;
  width:329px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4095 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:714px;
  width:100px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4096 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:29px;
  width:40px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
