body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:436px;
  width:745px;
  height:150px;
}
#u2086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2086_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2087_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u2088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:402px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2088_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:398px;
  word-wrap:break-word;
}
#u2089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:0px;
  width:176px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2089_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u2090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u2090_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:67px;
  height:30px;
  text-align:center;
}
#u2091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u2092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:30px;
  width:402px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:398px;
  word-wrap:break-word;
}
#u2093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:30px;
  width:176px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u2093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  word-wrap:break-word;
}
#u2094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u2094_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:67px;
  height:30px;
  text-align:center;
}
#u2095_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u2096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:60px;
  width:402px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2096_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:398px;
  word-wrap:break-word;
}
#u2097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:60px;
  width:176px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u2097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  word-wrap:break-word;
}
#u2098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u2098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:67px;
  height:30px;
  text-align:center;
}
#u2099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u2100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:90px;
  width:402px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:398px;
  word-wrap:break-word;
}
#u2101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:90px;
  width:176px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u2101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  word-wrap:break-word;
}
#u2102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
  text-align:center;
}
#u2102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:67px;
  height:30px;
  text-align:center;
}
#u2103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u2104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:120px;
  width:402px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u2104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:398px;
  word-wrap:break-word;
}
#u2105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:120px;
  width:176px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u2105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  word-wrap:break-word;
}
#u2106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:95px;
  width:689px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  word-wrap:break-word;
}
#u2107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:302px;
  width:240px;
  height:72px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u2108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:264px;
  width:240px;
  height:28px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u2109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:center;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:170px;
  width:145px;
  height:50px;
  font-size:36px;
  text-align:center;
}
#u2109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
